@use "./utils/variables" as *;
@import "./utils/mixins";
@import "./utils/fixed-class";
@import "./utils/fixed-style";
@import "./components/page-header";
@import "./components/lorem-section";
@import "./components/what-we-do";
@import "./components/our-team";
@import "./components/our-clients";
@import "./components/page-footer";
@import "./components/solutions";
@import "./components/portfolio-buttons";
@import "./components/portfolio-main";
@import "./components/modal-form";
@import "./components/mobile-menu";