.lorem {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
&__icons {
    display: flex;
&--backgroud {
  display: block;
    background: $backgroud-white;
    border-radius: 4px;
    margin: auto;
}
}
&__icons-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background: $backgroud-white;

}

@include tablet {
  flex-direction: wrap;
}
@include desktop {
  flex-direction: row;
}
}
.advantages {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 10px;
    margin-top: 55px;
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $main-gray;
  }
}