
.clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-left: 0;
    &__heading {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.17;
      text-align: center;
      margin-bottom: 50px;
    }
    &__icons {
      
      fill: $icon-gray;
      transition: $transition-fill;
    &:hover,
    &:focus {
      fill: $main-blue;
      cursor: pointer;
    }
  }
    &__background {
    border: 1px solid $icon-gray;
    border-radius: 4px;
    &:hover,
    &:focus {
      border: 1px solid $main-blue;
  }
}
}