  .solutions {
    background-image: url(/goit-markup-hw-08/images/img0_x1_mobile.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $main-background;
    background-position: center;
    background-size: cover;
    margin: 0;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/goit-markup-hw-08/images/img0_x2_mobile.jpg);
    }
    @include tablet {
      background-image: url(/goit-markup-hw-08/images/img0_x1_tablet.jpg);
      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/goit-markup-hw-08/images/img0_x2_tablet.jpg);
    }
    }
@include desktop {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(/goit-markup-hw-08/images/img0_x1_desktop.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/goit-markup-hw-08/images/img0_x2_desktop.jpg);
    }
}
    
    text-align: center;
    box-shadow: $solutions-box-shadow;
    &__button {
      background: $main-blue;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.88;
      color: $main-white;
      box-shadow: $button-box-shadow;
      border-radius: 4px;
      border-style: none;
      width: 200px;
      height: 50px;
      margin-right: auto;
      margin-left: auto;
    &:hover {
      cursor: pointer;
    }
    }

  }