.occupation {
  display: none;
  @include desktop {
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: 0 auto;
    justify-content: space-between;
    height: 100%;}
        &__label {
      position: relative;
    &--background {
      position: absolute;
      height: 70px;
      width: 100%;
      background: $background-gray;
      bottom: 0;
    }
    &--text {
      position: relative;
      display: flex;
      justify-content: center;
      color: $main-white;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      margin-top: 27px;
      letter-spacing: 0.03em;
    }
  }
    &__img {
      height: 100%;
    }

  }
  .occupation-header {
         display: none;
      @include desktop {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        text-align: center;
        margin-top: 94px;
        margin-bottom: 50px;
      }
    }

