.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container {
    max-width: 480px;
 width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include tablet {
      max-width: 768px;
    }
    @include desktop {
      padding: 0;
      max-width: 1200px;
    }
  }
  .color-logo {
    color: $main-blue;
  }
  .footer-header {
    color: $main-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }