a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  h1 {
    font-weight: 900;
    font-size: 26px;
    max-width: 365px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $main-white; 
    @include desktop {
      font-size: 44px;
      max-width: 696px;
      
    }
   }
h3 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
   }
img {
  display: block;
  width: 100%;
  height: auto;
}
